---
# vars file for battleships
carrier_damage: 0
carrier_sunk: False
battleship_damage: 0
battleship_sunk: False
destroyer_damage: 0
destroyer_sunk: False
submarine_damage: 0
submarine_sunk: False
patrolboat_damage: 0
patrolboat_sunk: False