---
# vars file for battleships
carrier_damage: "{{ carrier_damage }}"
carrier_sunk: "{{ carrier_sunk }}"
battleship_damage: "{{ battleship_damage }}"
battleship_sunk: "{{ battleship_sunk }}"
destroyer_damage: "{{ destroyer_damage }}"
destroyer_sunk: "{{ destroyer_sunk }}"
submarine_damage: "{{ submarine_damage }}"
submarine_sunk: "{{ submarine_sunk }}"
patrolboat_damage: "{{ patrolboat_damage }}"
patrolboat_sunk: "{{ patrolboat_sunk }}"